#whole{
	width: 960px;
	margin:0 auto;
	}

#nav li{
	float: left;
	list-style: none;
	width: 162px;
	height: 25px;
	background-color: #F00;
	text-align:center;
	border:1px black solid;
	margin: 0 10px;
	}

#logo{
	clear: both;
	}

#logo img{
	/*width: 100%;*/
	width: 930px;
	height: 250px;
	border: #000 solid;
	background-color:#000;
	margin-top: 30px;
	margin-left: 32px;
	margin-bottom: 20px;
	}

h1 {
	text-align: center;
	font-size: 3em;
	font-family: "Qwigley";
	}
	
h2 {
	text-align: center;
	font-family: "Petit Formal Script";
	}
	
 h3 {
 	font-family: "Petit Formal Script";
 	}

#information p {
	width: 800px;
	margin: 0 auto;
	text-align: center;
	padding-left: 40px;
	padding-bottom: 40px;
	font-family: Sail;
	}
	
#shoes img {
	float: left;
	width: 200px;
	height: 200px;
	border: #000 solid;
	background-color: #000;
	margin-left: 80px;
	}
	
#shoes li{
	list-style: none;
	}

#shop li{
	float: left;
	width: 150px;
	height: 20px;
	list-style: none;
	margin-top: 20px;
	text-align: center;
	font-family: "Bershire Swash";
	}

#buynow1 {
	margin-left: 95px;
	margin-bottom: 50px;
	}	

#buynow2 {
	margin-left: 145px;
	margin-bottom: 50px;
	}

#buynow3 {
	margin-left: 145px;
	margin-bottom: 50px;
	} 

form {
	clear: both;
	border: #000 solid;
	margin-bottom: 50px;
	padding: 10px 30px;
	}

footer {
	text-align: center;
	}

a.button {
	background-color: #f00;
	
	}